# Visual Studio
.vs/
[Bb]in/
[Oo]bj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.slnhistory
*.docstates

# Code
.vscode/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Nuget
packages/
*.nupkg

# Node
node_modules/
npm-debug.log
yarn-error.log

# Database
*.db
*.db-shm
*.db-wal

# Publish output
publish/
