@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="pt-24 px-4 max-w-7xl mx-auto text-white">
    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>
</div>
